@model Xhub.ViewModels.EventsFormViewModel

@{
	ViewBag.Title = "Add";
}

<h2>Add</h2>

<!--Form to Add an Event-->
@using (Html.BeginForm("Add", "Events"))
{
	<div class="form-group">
		@Html.LabelFor(m => m.EventName, "Name of the Event")
		@Html.TextBoxFor(m => m.EventName, new { @class = "form-control" })
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.EventLocation, "Location")
		@Html.TextBoxFor(m => m.EventLocation, new { @class = "form-control" })
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Date)
		@Html.TextBoxFor(m => m.Date, new { @class = "form-control datepicker" })
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Time)
		@Html.TextBoxFor(m => m.Time, new { @class = "form-control" })
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Description)
		@Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.EventType, "Type of Event")
		@Html.DropDownListFor(m => m.EventType, new SelectList(Model.EventTypes, "Id", "Type"), "", new { @class = "form-control" })
	</div>

	<button type="submit" class="btn btn-primary">Save</button>
}