@using Microsoft.AspNet.Identity
@using Xhub.Models
@model IEnumerable<Event>

@{
	ViewBag.Title = "Events";
}

@Html.ValidationSummary()

<h2>Upcoming Events</h2>

<div class="scroll well well-lg">
	<ul>
		@foreach (var eVent in Model)
		{
			var userId = User.Identity.GetUserId();

			// Show links for each event if user is logged in
			<li>
				@eVent.EventName - @eVent.DateTime.ToString("MMM dd - hh:mm tt")
							
				@if (eVent.IsCanceled)
				{
					<div class="canceled">Canceled</div>
				}

				@if (eVent.Attendances.Any(a => a.AttendeeId == userId) && !eVent.IsCanceled)
				{
					<div class="attending">Attending</div>
				}
			
				@if (User.Identity.IsAuthenticated)
				{
					// Pass event id to the controller
					<div>
						<a href="@Url.Action("Details", "Events", new {eventId = eVent.Id})">
							Details
						</a>
					</div>
				}
			</li>
		}
	</ul>
</div>

@if (User.Identity.IsAuthenticated)
{
	<div>
		<a href="@Url.Action("Add", "Events")">Add New Event</a>
	</div>
}
