@model Xhub.ViewModels.EventsFormViewModel

@{
	ViewBag.Title = "Add";
}

<h2>Add</h2>

<!--Form to Add an Event-->
@using (Html.BeginForm("Add", "Events"))
{
	@Html.AntiForgeryToken()
	
	<div class="form-group">
		@Html.LabelFor(m => m.EventName, "Event Name")
		@Html.TextBoxFor(m => m.EventName, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.EventName)
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Date)
		@Html.TextBoxFor(m => m.Date, new { @class = "form-control datepicker" })
		@Html.ValidationMessageFor(m => m.Date)
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Time)
		@Html.TextBoxFor(m => m.Time, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.Time)
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.EventLocation, "Location")
		@Html.TextBoxFor(m => m.EventLocation, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.EventLocation)
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Description)
		@Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.EventType, "Type")
		@Html.DropDownListFor(m => m.EventType, new SelectList(Model.EventTypes, "Id", "Type"), "", new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.EventType)
	</div>

	<button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
	@Scripts.Render("~/bundles/jqueryval")
}