@model IEnumerable<Xhub.Models.Event>

@{
	ViewBag.Title = "My Events";
}

<h2>Events I've Created</h2>

<ul>
	@foreach (var e in Model)
	{	
		<li>
			@e.EventName - @e.DateTime - Location: @e.EventLocation
			
			@if (e.IsCanceled)
			{
				<div>Canceled</div>
			}
			
			<div>
				<a href="@Url.Action("MyEventDetails", "Events", new { eventId = e.Id })">Details</a>
			</div>		
		</li>
	}
</ul>

<div>
	<a href="@Url.Action("Add", "Events")">Add New Event</a>
</div>

